# Carpetas generadas por Python
__pycache__/
*.py[cod]

# Entorno virtual (si usas uno)
venv/
env/

# Archivo de variables de entorno
.env

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos de SQLite u otras DBs locales
